<h1>Editar Usuário</h1>
<form>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="first-name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="first-name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="last-name" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" id="last-name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>