<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-warning flash" role="alert">
    <% resource.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>