<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<%# Verificações se um usuário esta logado, e se estiver, exibe o email %>
<% if user_signed_in? %>
    <p>Usuário Logado: <%= current_user.email %> </p>
<% else %>
    <p>Usuário Deslogado</p>
<% end %>

<% if admin_signed_in? %>
    <p>Admin Logado: <%= current_admin.email %> </p>
<% else %>
    <p>Admin Deslogado</p>
<% end %>

<%= link_to admins_backoffice_welcome_index_path do %>
Página Administradores
<% end %>
<br>
<%= link_to users_backoffice_welcome_index_path do %>
Página Usuários
<% end %>